.container {
    padding-top: 0.5rem;
    /* equivalent to py-sm (assuming sm = 2) */
    padding-bottom: 4rem;
    /* pb-xl (assuming xl = 16) */
    display: flex;
    width: 100vw;
    overflow-x: hidden;
    padding-left: calc(50% - 40vw);
    padding-right: calc(50% - 40vw);
    outline: none;
}

@media (min-width: 768px) {
    .container {
        padding-left: calc(50% - 15vw);
        padding-right: calc(50% - 15vw);
    }
}

.slide {
    display: flex;
    aspect-ratio: 16 / 9;
    width: 80vw;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    background: green;
    border: 5px solid black;
}

.slidetwo {
    display: flex;
    width: 900px;
    flex-shrink: 0;
    aspect-ratio: 16 / 9;
    height: 100%;
    background: pink;
}

@media (min-width: 768px) {
    .slide {
        width: 50vw;
    }
}

.slide-inner {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 2rem;
    outline: 1px solid #3a73c3;
    /* Tailwind gray-800 */
}

.slide-outline {
    height: 100%;
    width: 100%;
    outline: 1px solid #4b5563;
    /* Tailwind gray-600 */
}

.slide-index {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 10;
}