.mwg_effect020 {
    position: relative;
    height: 100vh;
    overflow: visible;
}

.mwg_effect020 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    gap: 3vw;
}

.mwg_effect020 .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 25px;
    position: absolute;
    bottom: 10px;
    left: 0;
}

.mwg_effect020 .header p {
    text-transform: uppercase;
    letter-spacing: -0.01em;
    font-size: 16px;
}

.mwg_effect020 img {
    width: 10vw;
    height: 10vw;
    position: absolute;
    object-fit: cover;
    border-radius: 0;
    /* filter: blur(30); */
    /* mix-blend-mode: color-dodge; */
    /* mix-blend-mode: plus-lighter; */
    /* mix-blend-mode: exclusion; */
    /* z-index: 5; */
}

.mwg_effect020 .title {
    text-align: center;
    text-transform: uppercase;
    font: 400 italic 8vw / 0.76 'Instrument Serif', serif;
    letter-spacing: -0.05em;
    width: 56%;
    color: rgb(233, 247, 105);
    mix-blend-mode: difference;
    z-index: 1;
}

.mwg_effect020 .text {
    font: 500 normal clamp(12px, 0.9vw, 100px) / normal 'IBM Plex Mono';
    text-transform: uppercase;
    max-width: 20vw;
    text-align: center;
    z-index: 1;
}

.mwg_effect020 .medias img {
    width: 1px;
    height: 1px;
    top: 0;
    left: 0;
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}